<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://static.vecteezy.com/system/resources/thumbnails/030/347/569/small_2x/ai-generated-image-of-delicious-popcorn-on-a-transparent-background-free-png.png" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
        <li class="nav-item active">
          <strong><%= link_to "My List", "#", class: "nav-link" %></strong>
        </li>
        <li class="nav-item">
          <strong><%= link_to "New List", "#", class: "nav-link" %></strong>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.redd.it/dj4ostj229gb1.png);">
  <div class="container">
    <h1> <strong>Save your</strong></H1> <h2><strong>Horror Movies</strong>!</h2>
  </div>
  </div>
<div class = "card mt-3">
<h1>class = "btn" Your List</h1></div>
<div class="cards mt-3">
  <% @lists.each do |list| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      <%= link_to list.name, list_path(list) %>
    </div>
  <% end %>
  <div class="div">
  <a class="btn btn-ghost" href="#">Write a story</a>
<a class="btn btn-flat" href="#">Book now</a>
<a class="btn btn-gradient" href="#">Start now</a>

  <%= link_to 'New list', new_list_path%>
  </div>
</div>
</div>
